.menu {
  z-index: 20;
  &.open {
    .mobile-menu-toggle {
      right: 80%;
    }
    .mobile-menu-dark-back {
      left: 0;
      width: 100%;
      opacity: 1;
    }
    .menu-list {
      left: 25%;
      width: 75%;
      opacity: 1;
    }
  }
}
.menu-list {
  @include pseudo-list;
  background: $mtg-common;
  position: absolute;
  top: 0;
  left: 100%;
  width: 0;
  height: 100vh;
  z-index: 22;
  opacity: 0;
  transition: {
    property: opacity, left;
    duration: .5s;
    timing-function: $cubic;
  }
}
.menu-item {
  padding-bottom: .5em;
  .step-number {
    color: rgba($white, .25);
    font-size: 1.5rem;
    transition: {
      property: color, font-size;
      duration: .2s;
      timing-function: $cubic;
    }
  }
  .step-type {
    color: rgba($white, .75);
    font-weight: bold;
    opacity: 0;
    max-width: 0;
    transition: {
      property: color, opacity, max-width;
      duration: .2s;
      timing-function: $cubic;
    }
  }
  .chosen-info {
    color: $green;
    text-shadow: .0625rem .125rem .25rem rgba($black, .5);
    text-align: center;
    font-family: beleren, 'Merriweather', 'Times New Roman', serif;
    opacity: 0;
    transform: translateX(-5rem);
    height: 0;
    transition: {
      property: opacity, transform, height;
      duration: .2s;
      timing-function: $cubic;
    }
  }
  .more-info-btn {
    float: right;
    margin-top: -1.25rem;
    opacity: 0;
    transform: translateX(-5rem);
    transition: {
      property: opacity, transform;
      duration: .2s;
      timing-function: $cubic;
    }
  }
}
.app-aside.open {
  .step-number {
    font-size: 1rem;
  }
  .step-type {
    opacity: 1;
    max-width: 5rem;
  }
  .chosen-info {
    opacity: 1;
    transform: translateX(0);
    height: 1rem;
  }
  .more-info-btn {
    opacity: 1;
    transform: translateX(0);
  }
}
@include breakpoint($tablet) {
  .menu {

  }
  .menu-list {
    position: relative;
    list-style-type: none;
    width: auto;
    height: auto;
    left: 0;
    background: transparent;
    opacity: 1;
  }
  .menu-item {
    cursor: pointer;
    vertical-align: top;
    padding: .25rem .5rem;
    margin: 0 -.5rem;
    transition: {
      property: background;
      duration: .2s;
      timing-function: $cubic;
    }
    &:hover {
      color: $white;
      background: rgba($black, .5);
      .step-number {
        color: rgba($white, .5);
      }
      .step-type {
        color: $white;
        font-weight: bold;
      }
    }
  }
}
