.step {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  overflow: hidden;
  opacity: 0;
  z-index: 1;
  transition: {
    property: opacity;
    duration: .5s;
    timing-function: $cubic;
  }
  &.active {
    opacity: 1;
    z-index: 5;
  }
}
.step-header {
  position: relative;
  padding: 1rem;
  margin: -1rem -1rem 1rem;
  background: linear-gradient(to right, darken($blue, 10%), $green);
  box-shadow: 0 .25rem 2rem rgba($black, .25);
  .step-back-button {
    position: absolute;
    top: .5rem;
    left: 1.5rem;
    z-index: 20;
    font-size: 1.5rem;
  }
  h2 {
    text-align: right;
  }
  .sub-header {

  }
}
.step-box {
  background: rgba($black, .5);
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: $taper-shadow;
  min-height: 20vh;
  cursor: pointer;
  transition: {
    property: background;
    duration: .2s;
    timing-function: $cubic;
  }
  .more-info-icon {

  }
  &:hover {
    background: $black;
    .step-box-image {
      opacity: .75;
    }
  }
}
.step-box-image {
  position: absolute;
  opacity: .5;
  transition: {
    property: opacity;
    duration: .2s;
    timing-function: $cubic;
  }
}
.step-box-caption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: .5em;
  text-align: center;
  h3 {
    font-size: 2em;
  }
}
.step-card-wrap {
  position: relative;
  .step-card-image, .step-card-back-image {
    backface-visibility: hidden;
  }
  .step-card-image {
    box-shadow: $taper-shadow;
    max-height: 30vh;
  }
  .card-flip-icon {
    position: absolute;
    top: 15vh;
    right: 10%;
    background: rgba($white, .9);
    color: rgba($black, .9);
    box-shadow: $taper-shadow;
    transition: {
      property: color, background;
      duration: .2s;
      timing-function: $cubic;
    }
    &:hover {
      background: $white;
      color: $black;
    }
  }
  .step-card-back-image {

  }
  &.flipped {
    .card-flip-icon {
      background: rgba($black, .9);
      color: rgba($white, .9);
      &:hover {
        background: $black;
        color: $white;
      }
    }
  }
}
@include breakpoint($tablet) {
  .step-content-wrap {
    display: grid;
    grid: {
      gap: .5rem;
      template: {
        columns: repeat(3, 1fr);
        rows: auto;
      }
    }
    .step-box {
      .more-info-icon {

      }
    }
    .step-box-image {

    }
    .step-box-caption {
      h3 {
        font-size: 2em;
        margin-top: .5em;
      }
    }
    .step-card-wrap {
      .step-card-image {
        
      }
      .card-flip-icon {

      }
      .step-card-back-image {
        
      }
    }
  }
}
