.step {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  overflow: hidden;
  opacity: 0;
  transform: translateX(25%);
  z-index: 1;
  transition: {
    property: opacity, transform;
    duration: .5s;
    timing-function: $cubic;
  }
  &.active {
    opacity: 1;
    transform: translateX(0);
    z-index: 5;
  }
}
.step-header {
  padding: 1rem;
  margin: -1rem -1rem 1rem;
  background: linear-gradient(to right, $blue, $green);
  box-shadow: 0 .25rem 2rem rgba($black, .25);
  h2 {
    text-align: right;
  }
  .sub-header {

  }
}
.step-box {
  background: rgba($black, .5);
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: $taper-shadow;
  min-height: 20vh;
  cursor: pointer;
  transition: {
    property: background;
    duration: .2s;
    timing-function: $cubic;
  }
  .more-info-icon {

  }
  &:hover {
    background: $black;
    .step-box-image {
      opacity: .75;
    }
  }
}
.step-box-image {
  position: absolute;
  opacity: .5;
  transition: {
    property: opacity;
    duration: .2s;
    timing-function: $cubic;
  }
}
.step-box-caption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: .5em;
  text-align: center;
  h3 {
    font-size: 2em;
  }
}
@include breakpoint($tablet) {
  .step-content-wrap {
    display: grid;
    grid: {
      gap: .5rem;
      template: {
        columns: repeat(3, 1fr);
        rows: auto;
      }
    }
    .step-box {
      .more-info-icon {

      }
    }
    .step-box-image {

    }
    .step-box-caption {
      h3 {
        font-size: 2em;
        margin-top: .5em;
      }
    }
  }
}
