@font-face {
  font-family: beleren;
  src: url('./font/Beleren Small Caps.ttf');
  font-weight: normal;
}
@font-face {
  font-family: beleren;
  src: url('./font/Beleren-Bold.ttf');
  font-weight: bold;
}
