.site-footer {
  position: absolute;
  bottom: .5rem;
  left: .5rem;
  z-index: 30;
  width: calc(100% - 1rem);
  color: rgba(darken($white, 10%), .9);
  font-size: .8em;
  a {
    // color: rgba(lighten($black, 5%), .5);
  }
  .copywrite {

  }
  .credit {
    font-weight: bold;
  }
  .version-info {
    float: right;
  }
}
